.characteristics {
    margin: 0px 10px;
    display: flex;
    flex-direction: column;

    p {
        font-size: 14px;
        margin: 0;
    }

    h3 {
        color: white;
        margin: 2px;
        border-bottom: 3px solid #111;
        flex-shrink: 1;
    }

    .chacteristic-item {
        margin: 5px;


        * {
            padding: 2px 0;
        }

        .name {
            font-weight: bold;
        }

        .desc {

        }
    }
}
